@tailwind base;
@tailwind components;
@tailwind utilities;

#carouselExampleIndicators {
  height: 100vh;
  /* width: 100vw; */
}

.bgBlack {
  background-color: black;
}

.bgNone {
  background-color: transparent;
}
